<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/drive.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>File Manager</title>
</head>
<body>
    <%- include("./navbar") %>
    <div class="folderName">
    <h2 class="heading"><%= folder.name %></h2>
    <div>
        <div class="subHeading">Your Files</div>
    </div>
    </div>
    <div class="file-container">
        <% files.forEach((file) => { %>
            <div class="row">
                <div class="icon"></div>
                <div class="details">
                  <span class="name"> <%= file.fileName %></span>
                  <span class="info">File</span>
                </div>
                <div class="actions">
                    <form method="POST" action="/drive/return/<%=file.id%>">
                        <button type="submit">Move</button>
                    </form>

                    <form method="GET" action="/drive/download/<%=file.id%>">
                        <button>Download</button>
                    </form>
                    <form method="GET" action="/drive/delete/<%=file.id%>">
                        <button>Delete</button>
                    </form>
                </div>
              </div>
        <% }) %>
    </div>
</body>
